.input-container {
  min-width: 100%;
  display: flex;
  justify-content: center;
}

.input-container input {
  width: 300px;
  height: 40px;
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border: none;
}

.input-container input:focus {
  outline-color: aquamarine;
}
